In [0]:
import pyspark

In [0]:
df = spark.sql("SELECT * FROM data_6")
df.show()

+-------+---+-----------+----------+
|   Name|Age|       City|Occupation|
+-------+---+-----------+----------+
|  Alice| 25|   New York|  Engineer|
|    Bob| 30|Los Angeles|    Doctor|
|Charlie| 35|    Chicago|    Artist|
|  David| 40|    Houston|    Lawyer|
|    Eva| 22|    Phoenix| Scientist|
|  rajat| 40|        NYC|   teacher|
+-------+---+-----------+----------+

In [0]:
type(df['Age'])

Out[5]: pyspark.sql.column.Column

In [0]:
type(df.select("Age").show())

+---+
|Age|
+---+
| 25|
| 30|
| 35|
| 40|
| 22|
| 40|
+---+

Out[9]: NoneType

In [0]:
df.head(2)

Out[10]: [Row(Name='Alice', Age=25, City='New York', Occupation='Engineer'),
 Row(Name='Bob', Age=30, City='Los Angeles', Occupation='Doctor')]

In [0]:
type(df.head(3)[1])

Out[14]: pyspark.sql.types.Row

In [0]:
df.select(["Age","Name"]).show()

+---+-------+
|Age|   Name|
+---+-------+
| 25|  Alice|
| 30|    Bob|
| 35|Charlie|
| 40|  David|
| 22|    Eva|
| 40|  rajat|
+---+-------+

In [0]:
df.withColumn("New_name",df['Age']*2.578).show()

+-------+---+-----------+----------+------------------+
|   Name|Age|       City|Occupation|          New_name|
+-------+---+-----------+----------+------------------+
|  Alice| 25|   New York|  Engineer|             64.45|
|    Bob| 30|Los Angeles|    Doctor| 77.33999999999999|
|Charlie| 35|    Chicago|    Artist| 90.22999999999999|
|  David| 40|    Houston|    Lawyer|103.11999999999999|
|    Eva| 22|    Phoenix| Scientist|56.715999999999994|
|  rajat| 40|        NYC|   teacher|103.11999999999999|
+-------+---+-----------+----------+------------------+

In [0]:
df.show()

+-------+---+-----------+----------+
|   Name|Age|       City|Occupation|
+-------+---+-----------+----------+
|  Alice| 25|   New York|  Engineer|
|    Bob| 30|Los Angeles|    Doctor|
|Charlie| 35|    Chicago|    Artist|
|  David| 40|    Houston|    Lawyer|
|    Eva| 22|    Phoenix| Scientist|
|  rajat| 40|        NYC|   teacher|
+-------+---+-----------+----------+

In [0]:
df.withColumnRenamed("Age","Latest_age").show()

+-------+----------+-----------+----------+
|   Name|Latest_age|       City|Occupation|
+-------+----------+-----------+----------+
|  Alice|        25|   New York|  Engineer|
|    Bob|        30|Los Angeles|    Doctor|
|Charlie|        35|    Chicago|    Artist|
|  David|        40|    Houston|    Lawyer|
|    Eva|        22|    Phoenix| Scientist|
|  rajat|        40|        NYC|   teacher|
+-------+----------+-----------+----------+

In [0]:
df.createOrReplaceTempView('date_6')
result_r = spark.sql("SELECT * FROM data_6")
result_r.show()

+-------+---+-----------+----------+
|   Name|Age|       City|Occupation|
+-------+---+-----------+----------+
|  Alice| 25|   New York|  Engineer|
|    Bob| 30|Los Angeles|    Doctor|
|Charlie| 35|    Chicago|    Artist|
|  David| 40|    Houston|    Lawyer|
|    Eva| 22|    Phoenix| Scientist|
|  rajat| 40|        NYC|   teacher|
+-------+---+-----------+----------+

In [0]:
result_r1 = spark.sql("SELECT * FROM data_6 WHERE Age >= 35")
result_r1.show()

+-------+---+-------+----------+
|   Name|Age|   City|Occupation|
+-------+---+-------+----------+
|Charlie| 35|Chicago|    Artist|
|  David| 40|Houston|    Lawyer|
|  rajat| 40|    NYC|   teacher|
+-------+---+-------+----------+