In [0]:
import pyspark

In [0]:
df = spark.sql("SELECT * FROM college_data")
df.show()

+-------+---+----------+------+
|   Name|Age|  College |Salary|
+-------+---+----------+------+
|  Alice| 25|     IIT B| 10000|
|    Bob| 30|     IIT B| 20000|
|Charlie| 35|     IIT B| 30000|
|  David| 40|     IIT K| 40000|
|    Eva| 22|     IIT K| 50000|
|  rajat| 40|NIT Tirchi|100000|
|  shyam| 35|NIT Tirchi|  5000|
+-------+---+----------+------+

In [0]:
# Group by and aggregate functions

df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- College : string (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
df.groupBy("College")

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-12204638498537>:1
----> 1 df.groupBy("College").show()

AttributeError: 'GroupedData' object has no attribute 'show'

In [0]:
df.groupBy("College ").min().show()

+----------+--------+-----------+
|  College |min(Age)|min(Salary)|
+----------+--------+-----------+
|NIT Tirchi|      35|       5000|
|     IIT K|      22|      40000|
|     IIT B|      25|      10000|
+----------+--------+-----------+

In [0]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     255000|
+-----------+

In [0]:
group_data = df.groupBy("College ")
group_data.agg({'Salary':'sum'}).show()

+----------+-----------+
|  College |sum(Salary)|
+----------+-----------+
|NIT Tirchi|     105000|
|     IIT K|      90000|
|     IIT B|      60000|
+----------+-----------+

In [0]:
from pyspark.sql.functions import countDistinct # Press ctrl+spacebar

In [0]:
df.select(countDistinct("Salary")).show()

+----------------------+
|count(DISTINCT Salary)|
+----------------------+
|                     7|
+----------------------+

In [0]:
df.select(countDistinct("Salary").alias("Avg Salary")).show()

+----------+
|Avg Salary|
+----------+
|         7|
+----------+

In [0]:
from pyspark.sql.functions import stddev # Press ctrl+spacebar
df.select(stddev("Salary")).show()

+-------------------+
|stddev_samp(Salary)|
+-------------------+
| 32237.954561133596|
+-------------------+

In [0]:
# Sort 
df.orderBy("Salary").show()

+-------+---+----------+------+
|   Name|Age|  College |Salary|
+-------+---+----------+------+
|  shyam| 35|NIT Tirchi|  5000|
|  Alice| 25|     IIT B| 10000|
|    Bob| 30|     IIT B| 20000|
|Charlie| 35|     IIT B| 30000|
|  David| 40|     IIT K| 40000|
|    Eva| 22|     IIT K| 50000|
|  rajat| 40|NIT Tirchi|100000|
+-------+---+----------+------+

In [0]:
df.orderBy(df["Salary"].desc()).show()

+-------+---+----------+------+
|   Name|Age|  College |Salary|
+-------+---+----------+------+
|  rajat| 40|NIT Tirchi|100000|
|    Eva| 22|     IIT K| 50000|
|  David| 40|     IIT K| 40000|
|Charlie| 35|     IIT B| 30000|
|    Bob| 30|     IIT B| 20000|
|  Alice| 25|     IIT B| 10000|
|  shyam| 35|NIT Tirchi|  5000|
+-------+---+----------+------+