In [0]:
import pyspark

In [0]:
df = spark.sql("SELECT * FROM sales_data")
df.show()

+---------+----+--------+------+
|Sales_man| Age| Company| Sales|
+---------+----+--------+------+
|    Randi|  25|  myntra| 10000|
|      Bob|  30|  myntra|  null|
|     Andi|  35|  myntra| 30000|
|    David|null|  Amazon| 40000|
|     null|  22|  Amazon|  null|
|    rajat|  40|  Amazon|100000|
|      Bob|null|FLipkart|  5000|
+---------+----+--------+------+

In [0]:
# drop , keep , fill - these are 3 ways to handle missing values
# DROP
df.na.drop().show()

+---------+---+-------+------+
|Sales_man|Age|Company| Sales|
+---------+---+-------+------+
|    Randi| 25| myntra| 10000|
|     Andi| 35| myntra| 30000|
|    rajat| 40| Amazon|100000|
+---------+---+-------+------+

In [0]:
df.na.drop(thresh=2).show()

+---------+----+--------+------+
|Sales_man| Age| Company| Sales|
+---------+----+--------+------+
|    Randi|  25|  myntra| 10000|
|      Bob|  30|  myntra|  null|
|     Andi|  35|  myntra| 30000|
|    David|null|  Amazon| 40000|
|     null|  22|  Amazon|  null|
|    rajat|  40|  Amazon|100000|
|      Bob|null|FLipkart|  5000|
+---------+----+--------+------+

In [0]:
df.na.drop(how="all").show()

+---------+----+--------+------+
|Sales_man| Age| Company| Sales|
+---------+----+--------+------+
|    Randi|  25|  myntra| 10000|
|      Bob|  30|  myntra|  null|
|     Andi|  35|  myntra| 30000|
|    David|null|  Amazon| 40000|
|     null|  22|  Amazon|  null|
|    rajat|  40|  Amazon|100000|
|      Bob|null|FLipkart|  5000|
+---------+----+--------+------+

In [0]:
df.na.drop(subset=["Sales"]).show()

+---------+----+--------+------+
|Sales_man| Age| Company| Sales|
+---------+----+--------+------+
|    Randi|  25|  myntra| 10000|
|     Andi|  35|  myntra| 30000|
|    David|null|  Amazon| 40000|
|    rajat|  40|  Amazon|100000|
|      Bob|null|FLipkart|  5000|
+---------+----+--------+------+

In [0]:
df.na.fill("Rajat").show()
df.na.fill(1).show()

+---------+----+--------+------+
|Sales_man| Age| Company| Sales|
+---------+----+--------+------+
|    Randi|  25|  myntra| 10000|
|      Bob|  30|  myntra|  null|
|     Andi|  35|  myntra| 30000|
|    David|null|  Amazon| 40000|
|    Rajat|  22|  Amazon|  null|
|    rajat|  40|  Amazon|100000|
|      Bob|null|FLipkart|  5000|
+---------+----+--------+------+

+---------+---+--------+------+
|Sales_man|Age| Company| Sales|
+---------+---+--------+------+
|    Randi| 25|  myntra| 10000|
|      Bob| 30|  myntra|     1|
|     Andi| 35|  myntra| 30000|
|    David|  1|  Amazon| 40000|
|     null| 22|  Amazon|     1|
|    rajat| 40|  Amazon|100000|
|      Bob|  1|FLipkart|  5000|
+---------+---+--------+------+

In [0]:
df.na.fill("Rajat",subset=["Sales_man"]).show()

+---------+----+--------+------+
|Sales_man| Age| Company| Sales|
+---------+----+--------+------+
|    Randi|  25|  myntra| 10000|
|      Bob|  30|  myntra|  null|
|     Andi|  35|  myntra| 30000|
|    David|null|  Amazon| 40000|
|    Rajat|  22|  Amazon|  null|
|    rajat|  40|  Amazon|100000|
|      Bob|null|FLipkart|  5000|
+---------+----+--------+------+

In [0]:
from pyspark.sql.functions import mean
mean_value = df.select(mean(df["Sales"])).collect()
print("Mean:", mean_value[0][0])

Mean: 37000.0

In [0]:
mean_sales = mean_value[0][0]
df.na.fill(mean_sales,['Sales']).show()

+---------+----+--------+------+
|Sales_man| Age| Company| Sales|
+---------+----+--------+------+
|    Randi|  25|  myntra| 10000|
|      Bob|  30|  myntra| 37000|
|     Andi|  35|  myntra| 30000|
|    David|null|  Amazon| 40000|
|     null|  22|  Amazon| 37000|
|    rajat|  40|  Amazon|100000|
|      Bob|null|FLipkart|  5000|
+---------+----+--------+------+