In [0]:
import pyspark

In [0]:
df = spark.sql("SELECT * FROM customer")

In [0]:
df.show()

+-------+---+-----------+----------+------+
|   Name|Age|       City|Occupation|Salary|
+-------+---+-----------+----------+------+
|  Alice| 25|   New York|  Engineer| 10000|
|    Bob| 30|Los Angeles|    Doctor| 20000|
|Charlie| 35|    Chicago|    Artist| 30000|
|  David| 40|    Houston|    Lawyer| 40000|
|    Eva| 22|    Phoenix| Scientist| 50000|
|  rajat| 40|        NYC|   teacher|100000|
+-------+---+-----------+----------+------+

In [0]:
df.filter('Salary>35000').show()

+-----+---+-------+----------+------+
| Name|Age|   City|Occupation|Salary|
+-----+---+-------+----------+------+
|David| 40|Houston|    Lawyer| 40000|
|  Eva| 22|Phoenix| Scientist| 50000|
|rajat| 40|    NYC|   teacher|100000|
+-----+---+-------+----------+------+

In [0]:
df.filter('Salary>35000').select(['Name','Occupation']).show()

+-----+----------+
| Name|Occupation|
+-----+----------+
|David|    Lawyer|
|  Eva| Scientist|
|rajat|   teacher|
+-----+----------+

In [0]:
df.filter((df["age"]>=35) & (df["salary"]>=30000)).show()

+-------+---+-------+----------+------+
|   Name|Age|   City|Occupation|Salary|
+-------+---+-------+----------+------+
|Charlie| 35|Chicago|    Artist| 30000|
|  David| 40|Houston|    Lawyer| 40000|
|  rajat| 40|    NYC|   teacher|100000|
+-------+---+-------+----------+------+

In [0]:
df.filter(df["Salary"] == 40000).show()

+-----+---+-------+----------+------+
| Name|Age|   City|Occupation|Salary|
+-----+---+-------+----------+------+
|David| 40|Houston|    Lawyer| 40000|
+-----+---+-------+----------+------+

In [0]:
df.filter(df["Salary"] == 40000).collect()

Out[16]: [Row(Name='David', Age=40, City='Houston', Occupation='Lawyer', Salary=40000)]

In [0]:
result = df.filter(df["Salary"] == 40000).collect()
row = result[0]